:root {
    --color-gray-lightest: #f3f3f3;
    --color-gray-lighter: #fff;
    --color-gray-light: #fff;
    --color-gray: #fff;
    --color-gray-dark: #d9d9d9;
    --color-gray-darker: #3e3e3e;
    --color-gray-darkest: #1d1d1d;
    --color-green-light: #f1f7f4;
    --color-green: #2a9740;
    --color-blue: #fff;
    --color-gray: #736f76;
}

* {
    box-sizing: border-box;
    font-family: Lato;

    &:focus-visible {
        outline: #1d1d1d dotted 2px;
    }
}

body {
    background-image: url('/images/bg.png');
    background-repeat: repeat;
    background-size: 500px 500px;
}

h2 {
    letter-spacing: .05ch;
}

p {
    margin: 0;
}

button, .button {
    border: none;
    cursor: pointer;
    transition: filter .3s;
    border-radius: .75rem;
    font-size: 1.125rem;

    &:hover {
        filter: brightness(.95);
    }
}

.container {
    padding: 0 clamp(1rem, 4.2667vw, 3rem);
    margin: auto;
}

.foodplanner__form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

.foodplanner__search-wrapper {
    display: flex;
    width: 100%;
}

.foodplanner__filter-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;

    button {
        height: 3rem;
        width: max-content;
    }
}

.foodplanner__fieldset{
    position: relative;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.foodplanner__input-label {
    display: block;
    visibility: hidden;
    height: 0;
    width: 0;
    clip: rect(0, 0, 0, 0);
    padding: 0;
    margin: 0;
}

.foodplanner__search{
    height: 3rem;
    width: 100%;
    padding: .5rem .75rem;
    border: 1px solid #ededed;
    border-radius: .5rem 0 0 .5rem;
    font-size: 1.125rem;
}

.foodplanner__submit-icon{
    width: 100%;
    height: 100%;
    fill: #fff;
}

.foodplanner__random-icon,
.foodplanner__trash-icon {
    width: 2rem;
    height: 2rem;
    fill: #fff;
}

.foodplanner__select{
    height: 3rem;
    padding: .5rem;
    width: fit-content;
    border: 1px solid #ededed;
    background-color: #fff;
    border-radius: .5rem;
    font-size: 1.125rem;
}

.foodplanner__submit {
    height: 3rem;
    background-color: var(--color-green);
    color: #fff;
    border: none;
    border-radius: 0 .5rem .5rem 0;
    padding: .5rem 1rem;
    font-size: 1.125rem;
}

.foodplanner__miscellaneous {
    display: flex;
    margin-top: 2rem;
    gap: 1rem;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    text-decoration: none;
    padding: 1rem 1.5rem;
}

.button--blue {
    background-color: #2a8797;
    color: #fff;
    transition: background-color .3s;

    &:hover {
        background-color: #236f7d;
    }
}

.button--green {
    background-color: var(--color-green);
    color: #fff;
    transition: background-color .3s;

    &:hover {
        background-color: var(--color-green);
    }
}

.button--square {
    aspect-ratio: 1;
    padding: .5rem;
}

.button--gray {
    background-color: var(--color-gray);
    color: #fff;
    transition: background-color .3s;

    &:hover {
        background-color: var(--color-gray);
    }
}

/* Results */
.foodplanner__top-row {
    display: flex;
    align-items: start;
    margin-bottom: 1rem;
    border-bottom: 1px solid #3e3e3e;
}

.foodplanner__results-headline {
    margin-top: clamp(3rem, 12.8vw, 5rem);
    margin-bottom: .5rem;
}

.foodplanner__results-count {
    margin-bottom: 1.5rem;
}

.foodplanner__list {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
}

.foodplanner__recipe-img-name-wrapper {
    display: flex;
    align-items: center;
    gap: .625rem;
}

.foodplanner__list-item {
    list-style-type: none;
    padding: 1rem;
    text-decoration: none;
    font-size: 1rem;
    color: #1d1d1d;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: fit-content;
    border-radius: 1rem;
    border: 1px solid #ededed;
    position: relative;
    overflow: hidden;
}

.foodplanner__recipe--link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #1d1d1d;
    width: fit-content;
    position: absolute;
    top: 0;
    right: 0;
}

.foodplanner__recipe-icon {
    fill: #1d1d1d;
    display: flex;
    padding: .75rem;

    svg {
        transition: transform .3s;
    }

    &:hover {
        svg{
            transform: scale(1.1);
        }
    }
    /* background-image: linear-gradient(45deg, #f3f3f3, #d9d9d9); */
    /* border-left: 1px solid #dcdcdc; */
    /* border-bottom: 1px solid #dcdcdc; */
}

.foodplanner__recipe-name {
    width: 100%;
    hyphens: auto;
    font-weight: 600;
    /* margin-bottom: 1.5rem; */
    padding-right: 1rem;
}

.foodplanner__recipe-img{
    height: 2rem;
    transition: height .5s;
    border-radius: .5rem;
    border: 1px solid #f2f2f2;

    &.active{
        height: 5rem;
    }
}

.foodplanner__recipe-servings {
    margin-top: 1rem;
    font-weight: 600;
}

.foodplanner__recipe-description-headline {
    margin-top: 1rem;
    margin-bottom: .25rem;
    font-weight: 600;
}

.foodplanner__details-toggle {
    margin-top: 1rem;
    
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #ebebeb;
        margin-bottom: 1rem;
    }
}

.foodplanner__ingredient-headline {
    margin-top: 1rem;
    margin-bottom: .25rem;
    font-weight: 600;
}

.foodplanner__ingredient-list{
    padding-left: 1.25rem;
}

.foodplanner__recipe-button{
    padding: .25rem .75rem;
    border-radius: .5rem;
    margin-top: 1.5rem;
}

/* Popup */
/* .popup {
    width: 20rem;
    border: 2px solid var(--color-gray-dark);
    border-radius: .5rem;
    position: relative;
}

.popup__form {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    input[type="text"] {
        height: 2rem;
        width: 100%;
    }
}

.popup__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    aspect-ratio: 1;
    width: 2rem;
    border-radius: 0;
    background-color: #fff;
}

.popup__add-ingredient {
    margin-top: .5rem;
    padding: .5rem 1rem;
}

.popup__add {
    margin-top: 1rem;
}

.checkbox-wrapper {
    display: flex;
    gap: .25rem;
    flex-direction: row-reverse;
    width: fit-content;
}

.popup__headline {
    margin-top: 1rem;
}

.popup__ingredients {
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
} */

.visually-hidden {
    position: absolute;
    left: 50%;
    height: 50%;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    outline: 0;
    outline-offset: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@media screen and (min-width: 64em) {
    .container {
        max-width: 75rem;
    }
}